---
layout: default
title: WCRR - 50th Anniversary
seo-description:
gallery:
  - _image: /images/old-photo-1.jpg
    image-alt-text:
    image-position: bg-pos-tc
  - _image: /images/old-photo-2.jpg
    image-alt-text:
    image-position: bg-pos-tc
  - _image: /images/old-photo-3.jpg
    image-alt-text:
    image-position: bg-pos-tc
  - _image: /images/old-photo-4.jpg
    image-alt-text:
    image-position: bg-pos-tc
  - _image: /images/old-photo-5.jpg
    image-alt-text:
    image-position: bg-pos-bc
gallery-two:
  - _image: /images/merch-mug.jpg
    image-alt-text:
    image-position: bg-pos-tc
  - _image: /images/merch-pin.jpg
    image-alt-text:
    image-position: bg-pos-tc
  - _image: /images/merch-button.jpg
    image-alt-text:
    image-position: bg-pos-center
  - _image: /images/merch-stickers.jpg
    image-alt-text:
    image-position: bg-pos-center
---
<!-- --------------------HEADER SECTION---------------- -->
 <section class="padded bg-texture m-p"> 
    <div class="centered">
        <h1 class="uppercase padded-rbl md-text sm-text-sm editable sm-padded-t">
            All aboard for the <br /> <span class="xxl-text green-text margin-t-sm shadow-tx">Golden <br class="mobile-show"/> Anniversary</span> <br/> of Willow Creek Railroad.
        </h1>
        <h2 class="uppercase sm-text editable thin sm-text-sm jost">Annual Memorial Meet Celebrating 50 years of model railroading</h2>
    </div>
 </section>

<!-- --------------------HISTORY SECTION---------------- -->
<section class="grid-center-middle padded m-p-t">
    <div class="slider-container col-7_sm-12 padded">
        {% for item in page.gallery %}
        <div class="slider-item">
            <!-- can use aria lable inplace of alt -->
            <div role="img" alt="{{item.image-alt-text}}" class="bg-image-index tall-70 sm-tall-50 {{item.image-position}}" style="background-image: url('{{item._image}}');"></div>
        </div>
        {% endfor %}
    </div>
    <div class="col-5_sm-12 padded">
        <h3 class="sm-text underlined-yellow editable">50 Years of Railroading: 1975-2025</h3>
        <p class="editable thin">Willow Creek Railroad Museum was started by just two individuals in 1975. Now, our membership includes almost 100 people. We give 15,000 train rides to the public annually, as one of fourteen museums and attractions at Powerland Heritage Park. We hope you will join us in celebrating 50 years of railroading history this summer!</p>
    </div>
</section>

<!-- --------------------GENERAL PUBLIC ---------------- -->
 <section class="padded-lg bg-dark-tan">
    <div class="grid-center-middle">
        <div class="col-1 mobile-hide"></div>
        <div class="col-10_md-12"> <img src="/images/open-house.jpg"/> </div>
        <div class="col-1 mobile-hide"></div>
    </div>
    <div class="padded-x-lg">
        <h3 class="tx-underlined uppercase sm-text editable">The Details:</h3>
        <ul>
            <li class="anniversary-li-two editable sm-text-sm">Bring and enjoy your own picnic lunch.</li>
            <li class="anniversary-li-two editable sm-text-sm">Spend the day riding trains with friends and family.</li>
            <li class="anniversary-li-two editable sm-text-sm">Private tours will be available around Willow Creek.</li>
            <li class="anniversary-li-two editable sm-text-sm">Trolley rides will be available at the Trolley Museum.</li>
            <li class="anniversary-li-two editable sm-text-sm">*Willow Creek 50th Anniversary event does not include admission to the other museums around <a href="https://www.antiquepowerland.com/" target="_blank">Powerland</a>.</li>
            <li class="anniversary-li-two editable sm-text-sm">Follow along on <a href="https://www.facebook.com/groups/1453616608603335" target="_blank">Facebook</a> for updates!</li>
        </ul>
    </div>
 </section>

 <!-- -------------------HOBBYIST SECTION -------------- -->
  <section class="padded">
    <h3 class="centered editable">Live Steam Hobbyists</h3>
    <a href="" class="btn-green centered editable" target="_blank">Live Steam Visitor Registration</a>
    
    <div class="grid-center-middle padded-rl">
        <div class="col-4_sm-12 day-1">
            <div class="padded-lg tall-70">
                <h2 class="uppercase centered md-text editable">Fri. July 11</h2>
                <ul class="anniversary-li">
                    <li class="editable">Visiting engines run Fri-Sun</li>
                    <li class="editable">Camping and storage available</li>
                    <li class="editable">Partner museum tours</li>
                    <li class="editable">Dinner meal</li>
                </ul>
            </div>
        </div>
        <div class="col-4_sm-12 day-2">
            <div class="padded-lg tall-70">
                <h2 class="uppercase centered md-text editable">Sat. July 12</h2>
                <ul class="anniversary-li">
                    <li class="editable">2pm: Anniversary ceremony</li>
                    <li class="editable">Golden spike presentation</li>
                    <li class="editable">Trolley rides and carbarn tours</li>
                    <li class="editable">Dinner meal and live music</li>
                </ul>
            </div>
        </div>
        <div class="col-4_sm-12 day-3">
            <div class="padded-lg tall-70">
                <h2 class="uppercase centered md-text editable">Sun. July 13</h2>
                <ul class="anniversary-li">
                    <li class="editable">10am-4pm: Open house</li>
                    <li class="editable">WCRR train rides and tours</li>
                    <li class="editable">Trolley rides</li>
                    <li class="editable">Custom merch available</li>
                </ul>
            </div>
        </div>
    </div>
    <p class="centered editable">For information on the event and to say up to date follow us on <a href="https://www.facebook.com/groups/52926956692" target="_blank">Facebook</a>. To learn our operating rules <a href="/operating-info.html" target="_blank">click here.</a></p>
    <div class="centered">
        <a href="" target="_blank" class="btn-green editable">Hotel Information</a>
        <a href="" target="_blank" class="btn-green editable">Camping Registraion</a>
    </div>

  </section>

<!-- --------------------MERCH SECTION------------------ -->
<section class="grid-center-middle padded m-p-t bg-dark-tan">
    <div class="col-6_sm-12 padded centered sm-order-2">
        <h2 class="uppercase sm-text underlined-yellow editable">Limited Edition Merch</h2>
        <p class="editable">Be sure to stop by the Willow Creek Railroad Company Store to get your 50th anniversary merchandise. We will have: shirts, mugs, pins, coins, stickers, and more!</p>
    </div>
    <!-- -------- GALLERY ON MD+ SCREENS -------- -->
    <div class="col-6_sm-12 padded grid tall-70 mobile-hide">
        <div class="col-7 bg-img-merch-1 border-tan-d"></div>
        <div class="col-5 bg-img-merch-2 border-tan-d"></div>
        <div class="col-5 bg-img-merch-3 border-tan-d"></div>
        <div class="col-7 bg-img-merch-4 border-tan-d"></div>
    </div>

    <!-- -------- GALLERY ON SM SCREENS --------- -->
    <div class="slider-container col-6_sm-12 padded mobile-show">
        {% for item in page.gallery-two %}
        <div class="slider-item">
            <!-- can use aria lable inplace of alt -->
            <div role="img" alt="{{item.image-alt-text}}" class="bg-image-index tall-40 sm-tall-50 {{item.image-position}}" style="background-image: url('{{item._image}}');"></div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- --------------------CTA - SEE YOU------------------- -->
{% include embedded-map-two.html %}
<!-- <div class="col-5_md-3 padded-xs right mobile-hide"><img src="/images/50-logo.jpg" class="img-circle h-img-150"/></div> -->
        


