---
layout: default
title: WCRR - Donations
seo-description:
donors:
  - donor-name: Albany & Eastern Railroad Company
    donor-site-link: https://albanyeastern.com/
  - donor-name: All American Toy Company
    donor-site-link: https://allamericantoyco.com/
  - donor-name: Al's Garden Center
    donor-site-link: https://als-gardencenter.com/
  - donor-name: Amtrak
    donor-site-link: https://www.amtrak.com/home
  - donor-name: Bryant Tree Expert Service
    donor-site-link: http://www.bryanttree.net/
  - donor-name: Cowart Landscaping
    donor-site-link: https://www.facebook.com/Cowart-Landscape-Co-LCB-8420-240685335961241/
  - donor-name: DeSantis Landscapes
    donor-site-link: https://desantislandscapes.com/
  - donor-name: Elm Ridge Mfg., Inc.
    donor-site-link:
donors-continued-two:
  - donor-name: Evergreen Aviation & Space Museum
    donor-site-link: https://www.evergreenmuseum.org/
  - donor-name: Fred Meyer
    donor-site-link: https://www.fredmeyer.com/
  - donor-name: F&W Fence Co.
    donor-site-link: https://fwfence.com/
  - donor-name: Heiser Farms Pumpkin Patch
    donor-site-link: https://www.heiserfarms.com/
  - donor-name: Knez Building Materials
    donor-site-link: https://www.knezinc.com/
  - donor-name: Lowes
    donor-site-link: https://www.lowes.com/
  - donor-name: Menehune Magic Catering
    donor-site-link: https://www.facebook.com/profile.php?id=100040970053634
donors-continued-three:
  - donor-name: Pacific Service Center
    donor-site-link: https://www.pacificservicecenter.com/
  - donor-name: PM Back Flow Testing
    donor-site-link: https://pmbackflow.com/
  - donor-name: Positive Energy Electric
    donor-site-link: https://www.positiveenergy.biz/
  - donor-name: Ram Steel Company
    donor-site-link: https://ramsteelco.com/
  - donor-name: Salem Tool
    donor-site-link: https://www.salemtools.net/
  - donor-name: United Rentals
    donor-site-link: https://www.unitedrentals.com/
  - donor-name:
    donor-site-link:
---
<!-- --------------------DONATE SECTION------------------- -->
<section class="donations grid-spaceBetween padded sm-donate-l-padded">
    <div class="col-5_sm-12 grid donate">
        <div class="col-10_md-11_sm-11 underlined-yellow">
            <h1 class="editable">Help support <br /> Willow Creek Railroad</h1>
        </div>
        <p class="editable">Your help is greatly appreciated, because without it Willow Creek Railroad Museum would not be as large as we are today. All donations are accepted and appreciated.</p>
        <p class="editable">Willow Creek Railroad Museum is a non-profit, 501c3 organization, gifts to which may be deductible as charitable contributions for federal income tax purposes.</p>
        <p class="editable">All of us at WCRR thank you!</p>
    </div>
    <div class="donorbox col-5_sm-12">
        <!-- DONATION LINK -->
    </div>
</section>

<!-- --------------------MAJOR DONORS------------------- -->
<section class="grid donations padded sm-grid-right sm-donate-r-padded">
    <div class="col-12_sm-11 grid-center centered sm-left">
        <div class="col-5_md-7_sm-12 underlined-yellow">
            <h2 class="editable">Major donors & supporters</h2>
        </div>
        <p class="col-12 sm-padded-b">Please help support our major donors. Without their generous contributions, WCRR would not be as large as we are today. </p>
    </div>
    <div class="col-12_sm-11 grid">
        <div class="col-4_sm-12 donator-links">
            <ul>
                {% for item in page.donors %}
                <li><a target="_blank" href="{{item.donor-site-link}}">{{item.donor-name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4_sm-12 donator-links">
            <ul>
                {% for item in page.donors-continued-two %}
                <li><a target="_blank" href="{{item.donor-site-link}}">{{item.donor-name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4_sm-12 donator-links">
            <ul>
                {% for item in page.donors-continued-three %}
                <li><a target="_blank" href="{{item.donor-site-link}}">{{item.donor-name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<!-- --------------------OTHER WAYS TO HELP------------------- -->
<section class="other-ways donations padded grid sm-donate-l-padded">
    <div class="col-4_md-4_sm-11-left underlined-yellow">
        <h2 class="editable">Other ways <br /> to support WCRR</h2>
    </div>
    <div class="col-12">
        <p class="editable"><strong>WCRR is an all-volunteer organization. </strong>All activities of management, administration, maintenance, hosting, restorations, construction, and landscaping are staffed by volunteers. We welcome and appreciate your contributions of time, talent and financial support. Want to help? Please visit <a href="/contact-us.html">contact us</a> for more information</p>
        <p class="editable"><strong>Fred Meyer Community Rewards. </strong>You can help Willow Creek Railroad Museum earn donations just by shopping with your Fred Meyer Rewards card. All you have to do is click on the button to the left and link your Rewards Card to Willow Creek Railroad. Then every time you shop at Freddy's, we get a donation! To learn more, <a target="_blank" href="https://www.fredmeyer.com/i/community/community-rewards">click here</a>.</p>
    </div>
</section>