---
layout: default
title: WCRR - Home
seo-description:
gallery:
  - _image: /images/wcrr-steam.jpg
    image-alt-text:
    image-position: bg-pos-tc
  - _image: /images/wcrr-train-rides.jpg
    image-alt-text:
    image-position: bg-pos-tr
  - _image: /images/wcrr-chip-colby.jpg
    image-alt-text:
    image-position: bg-pos-tl
  - _image: /images/wcrr-ron-ashley.jpg
    image-alt-text:
    image-position: bg-pos-r
video: >-
  <iframe
  src="https://www.youtube.com/watch?v=9Kq3O2-ARrA?h=d66cdbe14e&title=0&byline=0&portrait=0"
  style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
  allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
---
<!-- --------------------INDEX INTRO CAROURSEL------------------- -->
<section>
    <div class="slider-container">
        {% for item in page.gallery %}
        <div class="slider-item">
            <div role="img" alt="{{item.image-alt-text}}" class="bg-image-index tall-70 sm-tall-50 {{item.image-position}}" style="background-image: url('{{item._image}}');"></div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- --------------------EMBEDDED VIDEO + INTRO------------------- -->
<section class="grid-middle padded-sm">
    <div class="col-7_md-12 video-padding md-hide">
        <div style="padding:56.25% 0 0 0;position:relative;" class="shadow">
            {{page.video}}
        </div>
    </div>
    <div class="index-intro col-5_md-12">
        <h1 class="editable">
            Large Scale<br />Model Railroading
        </h1>
        <p class="editable">
            WCRR was founded in 1975, as a place where live steamers could gather to share their interests in trains and enjoy outdoor miniature railroading.
        </p>
        <p class="editable">
            We are dedicated to providing a historical account of what early steam and diesel railroading was like &ndash; the smells, sights and sounds &ndash; only on a smaller scale.
        </p>
        <p class="editable">
            Our steam and diesel powered trains are 1:8 scale replicas - large enough for the whole family to ride!
        </p>
        <p class="editable">
            We hope to see you soon! All aboard!
        </p>
    </div>
    <div class="col-7_md-12 video-padding hide md-show">
        <div style="padding:56.25% 0 0 0;position:relative;" class="shadow">
            {{page.video}}
        </div>
    </div>
</section>

<!-- --------------------BULLET-POINT SECTION------------------- -->
<section class="bullet-points grid padded-sm-tb centered" data-aos="fade-up">
    <div class="col-4_md-6_sm-12 padded-sm">
        <i class="fa-solid fa-circle-dollar-to-slot"></i>
        <h2 class="editable">
            Donate
        </h2>
        <p class="editable">
            Your help is greatly appreciated, because without it Willow Creek Railroad Museum would not be as large as we are today.
        </p>
        <a href="/donations.html" class="btn-grey editable">Donate</a>
    </div>    
    <div class="col-4_md-6_sm-12 padded-sm">
        <i class="fa-solid fa-handshake-angle"></i>
        <h2 class="editable">
            Volunteer
        </h2>
        <p class="editable">
            All activities of operation, maintenance, administration, restorations, construction, and landscaping are staffed by volunteers.
        </p>
        <a href="/contact-us.html" class="btn-grey editable">Contact us</a>
    </div>
    <div class="col-4_md-12 padded-sm">
        <i class="fa-solid fa-user-group"></i>
        <h2 class="editable">
            Become a member
        </h2>
        <p class="editable">
            Click the button below, if you think this interests you and you would like to learn more about membership options.
        </p>
        <a href="/member-login.html" class="btn-grey editable">Learn more</a>
    </div>
</section>

<!-- --------------------EMBEDDED MAP------------------- -->
{% include embedded-map.html %}
