---
layout: private
title: Members Page
banner_image: /images/aerial-view-wcrr.jpg
announcments:
  - announcment: 
  - announcment: 
  - announcment: 
needed:
  - item-needed: 
  - item-needed: 
  - item-needed: 
calendar-embed-code: https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FAmsterdam&title=Test&mode=WEEK&showTitle=0&showNav=1&showDate=1&showPrint=1&showTabs=1&showCalendars=0&showTz=0&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uZHV0Y2gjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZW4udWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%2333B679&color=%230B8043&color=%230B8043
---

<!-- --------------------HEADER ------------------- -->
<section class="bg-image tall-60 grid-center-middle" style="background-image: url('{{page.banner_image}}');">
    <div class="bg-tan centered padded-sm sm-padded">
        <h1 class="editable big-text">WCRR Members</h1>
        <a class="underlined-no-m" href="#"><span>&#8592;</span> Back to main website</a>
    </div>
</section>

<!-- --------------------NEWSLETTER BANNER ------------------- -->
<section class="member-banner centered grid-middle-center bg-dark-tan padded-xs sm-padded">
   <div class="col-6">
        <a href="#" class="btn-green uppercase editable"> Read the Newsletter</a>
   </div>
</section>

<!-- --------------------ANNOUNCMENTS + ITEMS NEEDED ------------------- -->
<section class="announcments grid padded">
    <div class="col-6_sm-12 padded-sm">
        <h2 class="md-text editable">Announcments:</h2>
        <ul>
            {% for item in page.announcments %}
            <li class="editable">{{item.announcment}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-6_sm-12 padded-sm">
        <h2 class="md-text editable">Items Needed:</h2>
        <ul>
            {% for item in page.needed %}
            <li class="editable">{{item.item-needed}}</li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- --------------------EMBEDDED CALENDAR ------------------- -->
<section class="calendar bg-grey padded centered">
    <h3 class="md-text editable">All upcoming events</h3>
    <div class="calendar">
        <iframe src="{{page.calendar-embed-code}}" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</section>