---
layout: private
title: WCRR - Members Only
banner_image: /images/aerial-view-wcrr.jpg
announcments:
  - announcment:
  - announcment:
  - announcment:
  - announcment:
  - announcment:
needed:
  - item-needed:
  - item-needed:
  - item-needed:
  - item-needed:
calendar-embed-code: >-
  https://calendar.google.com/calendar/embed?src=wcrrcal%40gmail.com&ctz=America%2FLos_Angeles
---
<!-- --------------------HEADER ------------------- -->
<section class=" grid-middle-center bg-image tall-60 grid-center-middle" style="background-image: url('{{page.banner_image}}');">
    <div class="bg-tan centered padded-sm col-4_md-6_sm-10">
        <h1 class="editable big-text">WCRR Members</h1>
        <a class="underlined" href="/index.html"><span>&#8592;</span> Back to main website</a>
    </div>
</section>

<!-- --------------------NEWSLETTER BANNER ------------------- -->
<section class="member-banner centered grid-middle-center bg-dark-tan padded-xs sm-padded">
   <div class="col-6_sm-11">
        <a target="_blank" href="#" class="btn-green uppercase editable"> Read the Newsletter</a>
   </div>
</section>

<!-- --------------------ANNOUNCMENTS + ITEMS NEEDED ------------------- -->
<section class="announcments grid padded sm-padded-lg">
    <div class="col-6_sm-12 padded-sm">
        <h2 class="md-text editable">
            To DO Projects:
        </h2>
        <ul>
            {% for item in page.announcments %}
            <li class="editable"><!--base32-MJQXGZJTGIWVAUKTKNFTOQSGI42UEQ2LJYZEGTSGGJDUWM2KJ5GUMWCHGQZTGVSOLJJFOMS2JRHU6UKTKRHVEQSGI42UGSCZJJFEMUCRHU6T2PJ5HUWWEYLTMUZTE===-base32-->Organize Nelson container<br /></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-6_sm-12 padded-sm">
        <h2 class="md-text editable">Items Needed:</h2>
        <ul>
            {% for item in page.needed %}
            <li class="editable"><!--base32-PQSSK7BFG5BCKN2CNF2GK3JONF2GK3JNNZSWKZDFMQSTORBFG5CHYJJFPQ======-base32-->Wine barrel water feature<br /></li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- --------------------EMBEDDED CALENDAR ------------------- -->
<section class="calendar bg-grey padded centered sm-padded-lg">
    <h3 class="md-text editable">All upcoming events</h3>
    <div class="calendar-responsive">
        <iframe src="{{page.calendar-embed-code}}" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</section>