---
layout: private
title: WCRR - Past Gazettes
banner_image: /uploads/screenshot-gazettes2.jpg
past-gazettes:
  - gazette-title: Steam-Up 2021
    gazette-pdf-link: /uploads/2021-3-Steam-Up-Gazette.pdf
  - gazette-title: Spring 2021
    gazette-pdf-link: uploads/2021-2-Spring-Gazette.pdf
  - gazette-title: Summer 2020
    gazette-pdf-link: /uploads/2020-2-Summer-Gazette.pdf
  - gazette-title: Fall 2019
    gazette-pdf-link: /uploads/2019-Fall-Gazette.pdf
  - gazette-title: Spring 2019
    gazette-pdf-link: /uploads/2019-Spring-Gazette.pdf
  - gazette-title: Steam-Up 2018
    gazette-pdf-link: /uploads/2018-3-Steam-Up-Gazette.pdf
  - gazette-title: Winter 2017
    gazette-pdf-link: /uploads/2017-5-Winter-Gazette.pdf
  - gazette-title: Summer 2017
    gazette-pdf-link: /uploads/2017-2-Summer-Gazette.pdf
  - gazette-title: Fall 2016
    gazette-pdf-link: /uploads/2016-4-Fall-Gazette.pdf
  - gazette-title: Spring 2016
    gazette-pdf-link: /uploads/2016-1-Spring-Gazette.pdf
  - gazette-title: Summer 2015
    gazette-pdf-link: /uploads/2015-2-Summer-Gazette.pdf
  - gazette-title: Winter 2010
    gazette-pdf-link: /uploads/2010-2-WCRR-Winter-Gazette.pdf
  - gazette-title: Spring 2008
    gazette-pdf-link: /uploads/2008-1-WCRR-Spring-Gazette.pdf
  - gazette-title: Spring/Summer 2006
    gazette-pdf-link: /uploads/2006-2-WCRR-Spring-Summer-Gazette.pdf
  - gazette-title: Summer 2005
    gazette-pdf-link: /uploads/2005-3-WCRR-Summer-Gazette.pdf
past-gazettes-second-column:
  - gazette-title: Winter 2021
    gazette-pdf-link: /uploads/2021-1-Winter-Gazette.pdf
  - gazette-title: Spring 2020
    gazette-pdf-link: /uploads/2020-1-Spring-Gazette.pdf
  - gazette-title: Steam-Up 2019
    gazette-pdf-link: /uploads/2019-Steam-Up-Gazette.pdf
  - gazette-title: Winter 2019
    gazette-pdf-link: /uploads/2018-19-5-Winter-Gazette.pdf
  - gazette-title: Summer 2018
    gazette-pdf-link: /uploads/2018-2-Summer-Gazette.pdf
  - gazette-title: Fall 2017
    gazette-pdf-link: /uploads/2017-4-Fall-Gazette.pdf
  - gazette-title: Spring 2017
    gazette-pdf-link: /uploads/2017-1-Spring-Gazette-RS.pdf
  - gazette-title: Steam-Up 2016
    gazette-pdf-link: /uploads/2016-3-Steam-Up-Gazette.pdf
  - gazette-title: Winter 2015
    gazette-pdf-link: /uploads/2015-4-Winter-Gazette.pdf
  - gazette-title: Spring 2015
    gazette-pdf-link: /uploads/2015-1-Spring-Gazette.pdf
  - gazette-title: Spring 2010
    gazette-pdf-link: /uploads/2010-1-WCRR-Spring-Gazette.pdf
  - gazette-title: Summer 2007
    gazette-pdf-link: /uploads/2007-2-WCRR-Summer-Gazette.pdf
  - gazette-title: Winter 2006
    gazette-pdf-link: /uploads/2006-1-WCRR-Winter-Gazette.pdf
  - gazette-title: Spring 2005
    gazette-pdf-link: /uploads/2005-2-WCRR-Spring-Gazette.pdf
past-gazettes-third-column:
  - gazette-title: Fall 2020
    gazette-pdf-link: /uploads/2020-3-Fall-Gazette.pdf
  - gazette-title: Winter 2020
    gazette-pdf-link: /uploads/2019-2020-Winter-Gazette.pdf
  - gazette-title: Summer 2019
    gazette-pdf-link: /uploads/2019-Summer-Gazette.pdf
  - gazette-title: Fall 2018
    gazette-pdf-link: /uploads/2018-4-Fall-Gazette.pdf
  - gazette-title: Spring 2018
    gazette-pdf-link: /uploads/2018-1-Spring-Gazette.pdf
  - gazette-title: Steam-Up 2017
    gazette-pdf-link: /uploads/2017-3-Steam-Up-Gazette.pdf
  - gazette-title: Winter 2016
    gazette-pdf-link: /uploads/2016-5-Winter-Gazette.pdf
  - gazette-title: Summer 2016
    gazette-pdf-link: /uploads/2016-2-Summer-Gazette.pdf
  - gazette-title: Fall 2015
    gazette-pdf-link: /uploads/2015-3-Fall-Gazette.pdf
  - gazette-title: Winter 2014
    gazette-pdf-link: /uploads/2014-Winter-Gazette.pdf
  - gazette-title: Winter 2009
    gazette-pdf-link: /uploads/2009-1-WCRR-Winter-Gazette.pdf
  - gazette-title: Spring 2007
    gazette-pdf-link: /uploads/2007-1-WCRR-Spring-Gazette.pdf
  - gazette-title: Fall 2005
    gazette-pdf-link: /uploads/2005-4-WCRR-Fall-Gazette.pdf
  - gazette-title: Winter 2005
    gazette-pdf-link: /uploads/2005-1-WCRR-Winter-Gazette.pdf
---
<!-- --------------------HEADER BANNER------------------- -->
<section class="grid-middle-center bg-image tall-60 grid-center-middle" style="background-image: url('{{page.banner_image}}');">
    <div class="bg-tan centered padded-sm col-4_md-6_sm-10">
        <h1 class="editable big-text">Past Gazettes</h1>
        <a class="underlined" href="/index.html">Main website</a>
        <span class="padded-lr"> | </span>
        <a class="underlined" href="/members.html">Members page</a>
    </div>
</section>

<!-- --------------------PAST GAZETTE LINKS------------------- -->
<section class="padded-sm">
    <div class="col-12_sm-11 grid">
        <div class="col-4_sm-12 donator-links">
            <ul>
                {% for item in page.past-gazettes %}
                <li><a target="_blank" href="{{item.gazette-pdf-link}}">{{item.gazette-title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4_sm-12 donator-links">
            <ul>
                {% for item in page.past-gazettes-second-column %}
                <li><a target="_blank" href="{{item.gazette-pdf-link}}">{{item.gazette-title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4_sm-12 donator-links">
            <ul>
                {% for item in page.past-gazettes-third-column %}
                <li><a target="_blank" href="{{item.gazette-pdf-link}}">{{item.gazette-title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>