/* ---------------------------------------CSS RESET------------------- */
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

img{max-width:100%;}

[class*=grid-], 
[class*=grid_],
[class~=grid] {margin:0;}

[class*=col]{padding:0;}

.overflow-x{overflow-x: hidden;}

/* --------------------COLORS */
/* dark grey: #606060 */
/* green: #1C9C42 */
/* blacker: #444444 */
/* yellow: #FFF100 */
/* red: #EB1A21 */
/* dark tan: #B9ADA2 */
/* tan: #D7CCC2 */


/* ---------------------------------------UTILITY/GENERAL CLASSES + STYLES------------- */
/* --------------------TYPOGRAPHY */
/* font-family: 'Jost', sans-serif; 300,400,500*/ 
/* font-family: 'Martel', serif; 400,600,700,800*/
body{
    background-color: #D7CCC2;
    color: #000000;
    font-family: 'Jost', sans-serif;
}

h2, 
h3, 
h4, 
h5, 
h6{
    line-height: 1.1;
    margin-bottom:1.2rem;
} 

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child{
    margin-bottom: 0;
}

h1{
    font-family: 'Martel', serif;
    font-size: 1.7rem;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
}

h2{
    font-family: 'Martel', serif;
    font-size: 1.7rem;
    font-weight: 800;
    text-transform: uppercase;
}

h3{ 
    font-family: 'Martel', serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

p{
    font-size: 1.1rem; 
    font-weight:400;
    line-height: 1.4;
    margin-bottom: 1rem;
}

p:last-child{margin-bottom: 0;}

a{
    border: none;
    color: inherit;
    display: inline-block;
    font-weight: inherit;
    text-decoration: none;
}

a:hover{
    color:#EB1A21;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

p a{
    border-bottom: 1px solid;
    color: inherit;
    display: inline;
    line-height:1;
}

nav a{
    border: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin:0 0.25rem;
    padding: .7% 1.5% 1%;
    text-shadow: 1px 1px 4px rgb(140, 140, 140);
    text-transform: uppercase;
}

ul{
    line-height: 2;
    list-style-type: none; 
    margin-bottom:1rem;
    padding-left:6%;  
}

ul a{
    border-bottom: 1px solid;
    color: inherit;
    line-height:1
}

hr{
    border:none;
    border-top:1px solid #000000;
}

.left{text-align: left;}
.centered{text-align: center;}
.right{text-align:right;}

.sm-text{font-size:1.3rem;}
.md-text{font-size:1.7rem;}
.text-mdd{font-size:1.5rem;}
.lg-text{font-size:2.2rem;}
.big-text{
    font-size:2.4rem;
    font-weight:700;
}
.xl-text{
    font-size:4rem;
    font-weight: 700;
}
.xxl-text{
    font-size:4.5rem;
    font-weight:700;
}

.ex-big-text{font-size:2.8rem;}

.uppercase{text-transform: uppercase;}

.green-text{color:#1C9C42;}

.thin{font-weight: 200;}
.martel{font-family: 'Martel', serif;}


/* --------------------EFFECTS */
.shadow{box-shadow: 10px 10px 20px 0px rgba(100, 100, 111, 0.2);}

.border{border: 3px solid #000000;}
.border-trb{
    border-top: 1.5px solid #000000;
    border-right: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
}
.border-tb{
    border-top: 1.5px solid #000000;
    border-bottom: 1.5px solid #000;
}
.border-tbl{
    border-top: 1.5px solid #000000;
    border-bottom: 1.5px solid #000;
    border-left: 1.5px solid #000;
}
.border-tan{
    border: 2px solid #D7CCC2;
}

.underlined{
    border-bottom: 2px solid #000000;
    margin-bottom: 1rem;
}

.tx-underlined{text-decoration: underline;}

.underlined-yellow{
    border-bottom: 3px solid #FFF100;
    margin-bottom: 1rem;
}

.vertical-line{padding: 0 .25%;}



/* --------------------PADDING + MARGIN */
.padded{padding:5%;}
.padded-sm{padding:2.5%;}
.padded-xs{padding:1.5%;}
.padded-lg{padding:8.5%;}
.padded-x-lg{padding:2.5% 8.5%;}

.padded-l-10-video{padding-left:10%;}
.padded-lr{padding:0 5%;}                    
.padded-r-15{padding-right:15%;}
.padded-sm-tb{padding:2.5% 5%;}
.padded-rbl{padding: 0 5% 5% 5%;}
.padded-rl{padding: 0 5%;}
.padded-b{padding-bottom: 1px;}

.margin-t{margin:2rem 0 0;}
.margin-t-md{margin-top:1.5rem;}
.margin-t-sm{margin-top:10px;}
.margin-b{margin-bottom:2rem;}
.margin{margin:2px;}

div.centered.col-12.grid-center.padded-b-2{margin-bottom:1.75rem;}

/* --------------------HEIGHT + WIDTH */
.tall-70{height: 70vh;}
.tall-60{height:60vh;}
.tall-40{height:40vh;}
.h-img-150{height: 100px;}


/* --------------------BUTTONS */
.btn-green{
    background-color:#1C9C42;
    border-radius: 8px;
    color:#FFFFFF;
    font-family: 'Martel', serif;
    font-size:.85rem;
    margin:1% 0;
    padding: 1rem 2rem .75rem;
    text-transform: uppercase;
}

.btn-green:hover{
    background-color: #606060;
    border:1px solid #FFFFFF;
    color:#FFFFFF;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.btn-grey{
    background-color:#606060;
    border-radius:8px;
    color:#FFFFFF;
    font-family: 'Martel', serif;
    font-size:.85rem;
    padding: .7rem 1.7rem .6rem;
    text-transform: uppercase;
}

.btn-grey:hover{
    background-color:#FFF100;
    border:1px solid #000000;
    color:#000000;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


/* ---------------------------------------BACKGROUNDS/IMAGES------------- */
/* --------------------BACKGROUND COLORS */
.bg-grey{
    background-color:#606060;
    color:#FFFFFF;
}
.bg-dark-tan{background-color:#B9ADA2;}
.bg-tan{background-color:#D7CCC2;}


/* --------------------IMAGES */
.bg-image{
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.bg-image-index{
    background-color:#B9ADA2;
    background-position: top;
    background-repeat: none;
    align-items:start;
    background-size: cover;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.portrait-tall{padding-bottom:175%;}
.portrait{padding-bottom:125%;}
.square{padding-bottom:100%;}
.landscape{padding-bottom:66%;}
.landscape-wide{padding-bottom:56%;}

.bg-pos-t{background-position:top;}
.bg-pos-b{background-position: bottom;}
.bg-pos-l{background-position: left;}
.bg-pos-r{background-position: right;}
.bg-pos-center{background-position: center;}
.bg-pos-tc{background-position: center top;}
.bg-pos-tl{background-position: top left;}
.bg-pos-tr{background-position: top right;}
.bg-pos-bc{background-position: center bottom;}
.bg-pos-bl{background-position: bottom left;}
.bg-pos-br{background-position: bottom right;}

/* --------------------HEADER */
.bg-train-track{
    background-image:url('images/train-track-four.png');
    background-repeat: none;
    min-height:2.4rem;
    margin-bottom:0;
}

/* --------------------HISTORY */
.bg-image-history{
    background-image: url('/images/our-history-background.jpg');
    background-position: 50% 36%;
    background-repeat: none;
    background-size: cover;
}

/* --------------------MEMBERSHIP */
.bg-membership{
    background-image: url('/images/members-login-background.jpg');
    background-position: 50% 36%;
    background-repeat: none;
    background-size: cover;
}


/* ---------------------------------------SECTION/PAGE SPECIFIC------------- */
/* --------------------HEADER */
.header{
    background-color: #D7CCC2;
    min-height:20vh;
    text-align:center;
}

.logo-img{
    margin:1rem 0 0; 
    max-height:5.5rem;
    padding-top:1%;
}

/* --------------------HAMBURGER MENU */
.hamburger-button{
    color: inherit;
    cursor:pointer;
    display:inline-block;
    font-size: 2.5rem;
    font-weight:400;
    margin-bottom:.5rem; 
    margin-top:-0.3rem;    
    padding: 0 1rem; 
    text-decoration:none;
}

.hamburger-button.active{color:#EB1A21;}

.mobile-menu{
    background-color: #B9ADA2;
    display:none;
    padding:5%;
    text-align:center;
    z-index:2;
}

.mobile-menu a{
    color:inherit;
    display:block;
    font-size:1.2rem;
    padding: 2.5vh;
    text-decoration:none;
}

.mobile-menu a:hover{color:#EB1A21;}

/* --------------------DROPDOWN MENU */
.dropbtn {padding: 16px;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D7CCC2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: #EB1A21;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #EB1A21;}

.dropdown-arrow{
    font-weight:100;
    font-size:1.3rem;
}

/* --------------------FOOTER */
footer p{
    font-size: .8rem;
    padding: .5% 1% .5% 0;
}

/* --------------------50th */
.margin-r-map{margin-right: 2.75rem;}
.pad-r-map{padding-right:20px;}
.shadow-tx{text-shadow: 3px 3px #9797979e;}

.fb-links{
    padding: 5% 5% 5%;
}

.img-circle{border-radius:50%;}

.bg-ticket{
    background-image: url('/images/open-house.jpg');
    /* background-position: 50% 36%; */
    background-repeat: none;
    background-size: cover;
}

.bg-texture{
    background-image: url('/images/bg-texture.jpg');
    background-repeat: repeat;
    /* background-size: cover; */
}

.bg-img-50th-2{
    background-image: url('/images/facebook-bg.jpg');
    background-position: 50% 36%;
    background-repeat: none;
    background-size: cover;
}

.bg-img-merch-1{
    background-image: url('/images/merch-mug.jpg');
    background-position: 50% 36%;
    background-repeat: none;
    background-size: cover;
}
.bg-img-merch-2{
    background-image: url('/images/merch-button.jpg');
    background-position: 50% 50%;
    background-repeat: none;
    background-size: cover;
}
.bg-img-merch-3{
    background-image: url('/images/merch-sticker.jpg');
    background-position: 50% 36%;
    background-repeat: none;
    background-size: cover;
}
.bg-img-merch-4{
    background-image: url('/images/merch-pin.jpg');
    background-position: 10% 40%;
    background-repeat: none;
    background-size: cover;
}

.day-1{
    border-top: 2.5px solid #000000;
    border-right: 2.5px solid #000;
    border-bottom: 2.5px solid #000;
    /* background-color: #B9ADA2; */
    height: 55vh;
}
.day-2{
    border-top: 2.5px solid #000000;
    border-bottom: 2.5px solid #000;
    /* background-color: #B9ADA2; */
    height: 55vh;
}
.day-3{
    border-top: 2.5px solid #000000;
    border-left: 2.5px solid #000;
    border-bottom: 2.5px solid #000;
    /* background-color: #B9ADA2; */
    /* margin-left:2rem; */
    height: 55vh;
}

.anniversary-li{
    list-style-type: square;
    margin-left:1.75rem;
    font-size: 1.2rem;
    font-weight:300;
}

.anniversary-li-two{
    list-style-type: square;
    font-size: 1.2rem;
    font-weight:300;
}

.anniversary-li-map{
    list-style-type: square;
    margin-left:1.75rem;
    font-size: 1.2rem;
    font-weight:300;
}
.no-square{list-style-type: none;}

/* --------------------INDEX  */
.image-home{height:70vh;}

.index-intro{padding:5% 5% 5% 0;}
.index-intro h1{margin-bottom:.5rem;}

.video-padding{padding:5% 2.5%;}

.fa-solid{
    color:#1C9C42;
    font-size:2.5rem;
    padding:2rem;
}

/* --------------------SLICK SLIDER */
div.slider-item{padding:0;}

.slider-container{padding:0;}

.slider-item{ 
    display:none;
    padding:1rem;
}

.slider-item:first-child{display:block;}

.slick-next{right: 2.5%;}

.slick-prev{
    left: 2.5%;
    z-index:2;
}

/* Without this the padding on the parent affects the centering of the dots. Do not delete */
.slick-dots{
    left:0; 
    bottom:10px;
}

.slick-dots li{width: 9px;}

.slick-dots li button::before{color:#EFEFEF;}

.slick-dots li.slick-active button::before{color:#EFEFEF;}

.slick-next::before, .slick-prev::before{
  opacity: .75;
  color:#EFEFEF;
}

/* --------------------YOUTUBE EMBED*/
/* .youtube-video {
  width: 100%;
  height:100%;
  margin-left: 7rem;
} */
.video-container { 
    position: relative; 
    padding-bottom: 31.25%; 
    /* padding-top: 30px;  */
    height: 0; 
    margin-right:2rem;
    overflow: hidden; 
}

.video-container iframe, .video-container object, .video-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; }

/* --------------------HISTORY */
.history-title{
    border-bottom:2px solid #000000;
    padding: 5% 5% 0 0;
}

.history h2{margin-bottom:.2rem;}

.image-history{
    border: 3px solid #000000;
    height:60vh;   
}

.image-operating{
    height:100%;
    width:100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.image-op-h{height:672px;}

.history-pad-l{padding: 5% 5% 5% 0;}
.history-pad-r{padding: 5% 0 5% 5%;}

.history-text{
    position:absolute;
    right:215px;
}
.history-text-right{
    position:absolute;
    left:215px;
}

/* --------------------GALLERY */
.gallery-banner-title{
    background: #D7CCC2;
    padding: 2% 2% 1.5%;
    text-align:center;
}

.gallery [class*="col-"]{padding:0.5%;}

/* --------------------DONTAIONS */
.donate{padding-right:8%;}

.donator-links{
    padding-left:10%;
    padding-top:2.5%;
}

/* --------------------CONTACT */
.image-contact{
    background-position: top;
    background-repeat: none;
    background-size: cover;
    border:4px solid #000000;
    box-shadow:0px 7px 29px 0px rgba(100, 100, 111, 0.2); 
    height: 50vh;
}

.contact-intro{padding:5%;}

form{position:relative;}

form input, 
form textarea{
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    font-family: inherit;
    font-size: .9rem;
    margin: 0.3rem 0;
    min-height:3rem;
    outline:none;
    padding:0.5rem;
    width:90%;  
}

form input:focus,
form textarea:focus{border-color: #EB1A21;}

form label{ 
    color: #000000;
    display:block; 
    margin-top: 1rem;  
    padding:0 0.5rem;
}

form button{
    background-color:#1C9C42;
    border:none;
    border-radius: 3px;
    color:#FFFFFF;
    font-family: 'Martel', serif;
    font-size:.85rem;
    letter-spacing: 0.1em;
    margin: 0.5rem 0;
    min-height: 2.3rem;
    padding: 0.5rem 2rem 0.4rem;
    text-transform: uppercase;
}

form button:hover{
    background-color:#606060;
    border:1px solid #FFFFFF;
    color:#FFFFFF;
    cursor: pointer;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

form textarea{min-height: 8rem;}


/* --------------------MEMBERSHIP */
.login-section{position:relative;}

.become-member{
    background-color:#606060;
    border-radius: 25px 0 0 25px;
    box-shadow:0px 7px 29px 0px rgba(100, 100, 111, 0.2); 
    color:#FFFFFF;
    margin: 5rem 0;
    padding:4% 4% 4% 3%;
    height:80vh;
}

.member-login{
    background-color: #D7CCC2;
    border-radius: 0 25px 25px 0;
    box-shadow:7px 7px 29px 0px rgba(100, 100, 111, 0.2);
    margin: 5rem 0;
    padding: 10% 2%;
    text-align: center;
    height:80vh;
}

.meber-login h1{margin-bottom:.5rem;}
.member-login h2{margin-bottom: .2rem;}

/* --------------------MEMBER PRIVATE */
.announcments ul{
    list-style-type:circle;} 

.past-gazettes a{
    text-decoration: underline;
}

/* --------------------EMBEDDED MAP */
.map{padding:5%}
.hours{padding:5%;}

.map-responsive{
    height:0;
    margin-right:2rem;
    overflow:hidden;
    padding-bottom:25.25%;
    position:relative;
}

.map-responsive iframe{
    height:100%;
    left:0;
    position:absolute; 
    top:0;
    width:100%;
}


/* ----------------------------------------MEDIA QUERIES------------- */
/* --------------------DEFAULT RESPONSIVE STYLES */
.mobile-show{display:none;}
.hide{display: none;}

.md-show{display: hide;}
.md-hide{display: block;}

/* --------------------LG MEDIA QUERY (128em / 2048px) */
/* @media(max-width:128em){
} */

@media(max-width:75em){
    /* -----------HISTORY */
    .history-pad-l{padding: 7rem 5% 7rem 0;}
    .history-pad-r{padding: 13rem 0 13rem 5%;}

    .history-text{right:210px;}
    .history-text-right{left:210px;}

    .image-history{height:50vh;}
    
    /* -----------CONTACT */
    .image-contact{height: 30vh;}    
}

/* --------------------MD MEDIA QUERY (64em / 1024px) */
@media(max-width:64em){
    /* -----------GENERAL CLASSES */
    .md-show{display:block;}
    .md-hide{display: none;}
    .flip-md{flex-direction: column-reverse;}

    /* -----------TYPOGRAPHY */    
    html{ font-size:15px; }
    .md-text{font-size: 1.5rem;}
    .text-mdd{font-size:1.3rem;}
    .lg-text{font-size: 1.8rem;}

    .md-center{text-align:center;}

    /* -----------PADDING + MARGIN */
    .md-padded{padding:5%;}

    /* -----------HEADER */
    .dropdown-content {background-color: #B9ADA2;}

    /* -----------FOOTER */
    footer p{padding: .75% 1% 1.25% 0;}

    /* -------------50th */
    .fb-links{padding: 0 5% 10%;}
    .anniversary-li-map{
        margin-left:0;
    }   

    /* -----------INDEX */
    .index-intro{padding:3.5% 5% 4.5%;}

    .padded-l-10-video{padding-left:5%;}

    .video-container { 
        padding-bottom: 56.25%; 
    }

    /* -----------HISTORY */
    .image-history{height:50vh;}
    
    .image-op-h{height:410px;}


    .history-text{right:70px;}
    .history-text-right{left:70px;}

    /* -----------DONATIONS */
    .donations h1{font-size: 1.5rem;}
    .donations h2{font-size:1.5rem;}

    .donator-links{
        padding-left:5%;
        padding-top:2.5%;
    }

    /* -----------CONTACT */
    .contact-intro{padding:7% 5%;}

    .image-contact{
        height: 50vh;
        margin-bottom:3.25rem;
    }

    /* -----------MEMBERSHIP */
    .login-section{height: 105vh;}
    .become-member{padding:5.5% 6% 4% 3.5%;}
    .member-login{padding: 16% 2%;}
    .member-login h2{font-size:1.5rem;}

    .calendar-responsive{
        height:0;
        overflow:hidden;
        padding-bottom:75.25%;
        position:relative;
    }

    .calendar-responsive iframe{
        height:100%;
        left:0;
        position:absolute; 
        top:0;
        width:100%;   
    }

    /* -----------EMBEDDED MAP  */
    .map{padding:10% 7%;}
    .hours{margin-left: 3rem;}
    .map-responsive{padding-bottom:35.25%;}
}


@media(max-width:760px){
    .login-section{height: 110vh;}
}
/* --------------------SM Media Query (48em / 768px) */
@media(max-width:48em){
    /* -----------GENERAL CLASSES */
    .mobile-hide{display: none;}
    .mobile-show{display:block;}
    .flip-sm{flex-direction: column-reverse;}
    
    /* -----------TYPOGRAPHY */
    .sm-left{text-align: left;}
    .sm-right{text-align: right;}
    .sm-center{text-align: center;}

    .padded-x-lg{padding:5% 0 0;}

    .big-text{font-size:2.2rem;}
    .ex-big-text{
        font-size:2.2rem;
        margin-top:1rem;
    }
    .xxl-text{
        font-size:2.5rem;
        font-weight:700;
    }
    .sm-text-sm{font-size:1rem;}

    /* -----------PADDING + MARGIN */
    .sm-padded{padding:5%;}
    .sm-padded-lg{padding:10% 7.5%}
    .sm-padded-b{padding-bottom: 5%;}

    .margin-t-md{margin-top:.5rem;}


    /* -----------HEIGHT + WIDTH */
    .sm-tall-50{height:50vh;}
    
    /* -----------BACKGROUNDS */
    .bg-membership{background-position: 95% 36%;}

    /* -----------HEADER */
    .header{min-height:15vh;}
    .logo-img{
        height:20vh;
        margin: 0 2rem;
    }

    /* -----------FOOTER */
    footer p{line-height:2;}

    /* -------------50th */

    .anniversary-li{
        margin-left:1.2rem;
    }
    .m-p{
        padding-bottom: 10%;
    }

    .m-p-t{padding-top:10%;}
    .mmb{margin-bottom:10px;}

    .day-1, .day-2{
        margin-bottom: 2.5rem;
        border:none;
        background-color: #B9ADA2;
        height:45vh;
    }
    .day-3{
        border:none;
        background-color: #B9ADA2;
        margin-bottom: 1.5rem;
        height: 45vh;
    }

    /* -----------INDEX */
    .image-home{height:45vh;}
    .bullet-points div{padding:7% 3%;}

    /* -----------HISTORY */
    .history-pad-l{padding: 3rem 5% 1.5rem 0;}
    .history-pad-r{padding: 1.5rem 0 3rem 5%;}

    .image-history{height:40vh;}
    
    .image-op-h{height:275px;}

    .history-text{
        position: relative;
        left:100px;
        bottom: 35px;
    }
    .history-text-right{
        position:relative;
        left:-100px;
        top:35px
    }

    /* -----------DONTAIONS */
    .donorbox{padding:10% 0;}

    .donator-links{
        padding-left:0;
        padding-top:2%;
    }

    .sm-grid-right{
        position:relative;
        right:0px;
    }
 
    .sm-donate-l-padded{padding:10% 15% 10% 8%;}
    .sm-donate-r-padded{padding:10% 0 10% 12%;}                    
                    
    /* -----------CONTACT */
    .contact-intro{padding:10% 5% 20%;}
    .contact-intro a{line-height:2;}

    .image-contact{
        height: auto;
        width:90vw;    
    }
    
    .contact-form{padding:10% 5%;}

    /* -----------MEMBERSHIP */
    .login-section{height: 140vh;}

    .become-member{
        border-radius: 0 25px 25px 0;
        box-shadow:7px 7px 20px 0px rgba(100, 100, 111, 0.2); 
        height:auto;
        left:0;
        margin: 10rem 0 8%;
        padding:7% 8% 7% 5%;
        position:absolute;
        bottom:10px;
    }

    .member-login{
        border-radius: 25px 0 0 25px;
        box-shadow:-7px 7px 20px 0px rgba(100, 100, 111, 0.2);
        height: auto;
        margin: 8% 0 10rem;
        padding: 6.5% 5% 5%;
        position:absolute;
        text-align:right;
        width:80vw;
        right:0;
        top: 10px;
    }

    .member-login h2{font-size:1.6rem;}

    .member-banner .btn-green{
        font-size:.9rem;
        padding:4.5% 6.5%;
    }

    .calendar-responsive{padding-bottom:90%;}

    /* -----------EMDEDDED MAP*/
    .map{padding:15% 10%;}
    .hours{margin-left: 0;}

    .map-responsive{
        margin-right:0;
        margin-top:2.5rem;
        margin-bottom:0;
        padding-bottom:45.25%;
    }    
}

/* --------------------XS Media Query (36em / 576px) */
@media (max-width: 36em) {
    .xs-hide{display: none;}
    .xs-show {display: block;}

    /* -----------GALLERY*/
    .gallery-banner-title{padding: 3.5% 2% 1.5%;}

    /* -----------MEMBERSHIP*/
    .login-section{height: 138vh;}
}

/* --------------------XXS Media Query (25em / 400px) */
/* @media (max-width: 25em) {
}  */