 <!-- --------------------FOOTER------------------- -->
    <hr/>
    <footer class="right sm-center">
        <p><a href="/privacy-policy.html">Privacy Policy</a> <span class="vertical-line">|</span> &copy; 2025 Willow Creek Railroad Museum <span class="vertical-line mobile-hide">|</span> <br class="mobile-show"/>Website Design & Build by <a class="uppercase" href="https://onyxpointe.com/">Onyx Pointe</a></p>
    </footer>

 <!-- --------------------SCRIPTS------------------- -->
    <!-- jQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- VIMEO -->
    <script src="https://player.vimeo.com/api/player.js"></script>
    <!-- SLICK CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- LIGHT GALLERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>
    <!-- ANIMATE ON SCROLL -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <!-- DONORBOX -->
    <script src=https://donorbox.org/widget.js paypalExpress="true"></script>
    <!-- CUSTOM JS FILE -->
    <script src="/scripts.js"></script>
</body>
</html>