<a class="editable" href="/">Home</a>
<a class="editable" href="/50th-anniversary">50th Anniversary</a>
<a class="editable" href="/visit-us">Visit Us</a>
<a class="editable" href="/operating-info">
    Operating Info
</a>
<div class="dropdown">
    <a class="dropbtn editable" href="#">About Us <span class="dropdown-arrow">↴</span></a>
    <div class="dropdown-content">
        <a class="editable" href="/about">Our History</a>
        <a class="editable" href="/contact-us">Contact Us</a>
        <a class="editable" href="/member-login">Membership</a>
    </div>
</div>
<a class="editable" href="/gallery">Gallery</a>
<a class="editable" href="/donations">Donations</a>


<a class="editable" href="https://www.facebook.com/groups/52926956692" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>