{% include head.html %}

<body>
    <!-- --------------------HEADER NAV------------------- -->
    <header class="header grid">
        <div class="col-12_sm-7-middle sm-left">
            <a href="/index.html"><img src="/images/willow-creek-railroad-logo.png" class="logo-img"></a>        
        </div>
        <nav class="main-nav col-12 mobile-hide">
            {% include nav-links.html %}
        </nav>
        <div class="col-5-bottom right">
            <a href="#" class="hamburger-button right mobile-show">&#9776;</a>
        </div>
    </header>

    <!-- --------------------HAMBURGER MENU------------------- -->
    <div class="mobile-menu">
        <nav>
            {% include nav-links.html %}
        </nav>
    </div>

    <!-- --------------------TRAIN TRACK------------------- -->
    <div class="bg-image bg-train-track"></div>


    <!-- --------------------MAIN BODY CONTENT------------------- -->
    <section class="{{page.background}}">
        {{content}}
    </section>

    <!-- --------------------FOOTER------------------- -->
    {% include footer.html %}